tstRMI/xml-resources/web-service-references/GestorAlumnos/wsdl/localhost_8080/EscuelaDeBaile/GestorAlumnos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://serviciosweb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serviciosweb/">

<xs:element name="AgregaAlumno" type="tns:AgregaAlumno"/>

<xs:element name="AgregaAlumnoCls" type="tns:AgregaAlumnoCls"/>

<xs:element name="AgregaAlumnoClsResponse" type="tns:AgregaAlumnoClsResponse"/>

<xs:element name="AgregaAlumnoResponse" type="tns:AgregaAlumnoResponse"/>

<xs:element name="AltaAlumno" type="tns:AltaAlumno"/>

<xs:element name="AltaAlumnoResponse" type="tns:AltaAlumnoResponse"/>

<xs:element name="AltaAlumnos" type="tns:AltaAlumnos"/>

<xs:element name="AltaAlumnosResponse" type="tns:AltaAlumnosResponse"/>

<xs:element name="AltaAlumnosss" type="tns:AltaAlumnosss"/>

<xs:element name="AltaAlumnosssResponse" type="tns:AltaAlumnosssResponse"/>

<xs:complexType name="AgregaAlumno">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apMaterno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregaAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregaAlumnoCls">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apPaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apMaterno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregaAlumnoClsResponse">
<xs:sequence>
<xs:element name="return" type="tns:clsMensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsMensaje">
<xs:sequence>
<xs:element name="blnRes" type="xs:boolean"/>
<xs:element name="intRes" type="xs:int"/>
<xs:element name="strCadenaResultado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AltaAlumno">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AltaAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AltaAlumnosss">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AltaAlumnosssResponse">
<xs:sequence>
<xs:element name="return" type="tns:clsMensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AltaAlumnos">
<xs:sequence>
<xs:element name="arr_nomCampos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arr_datos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AltaAlumnosResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>